# Godot 4 specific ignores
.import/
.godot/
.mono/
*.import
*.tmp
*.log
/android/
/export_presets.cfg

# Ignore exported builds
/builds/
/bin/
.vscode
/export/

# Godot Editor Configuration
.editor_settings-*

# Backup files (por si acaso)
*.bak
